<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<title>Pi Security System</title>
		<link id="pagestyle" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='trixyogurt.ico') }}">
	</head>
	
	<body>
		<div class="content">
			<h1>Pi Security System</h1>
			<hr>
			<p style="text-align: center;"><em>System is <b>{{ current_state }}</b>.</em></p>

			{% if current_state == "disarmed" %}
			<p>Enter the secret code below (4 digits) to arm the security system.</p>
			{% endif %}

			{% if current_state == "armed" %}
			<p>Enter the secret code below (4 digits) to disarm the security system.</p>
			{% endif %}

			{% if current_state == "triggered" %}
			<p>The security system is currently triggered! Enter the code on the keypad to prevent an alert!</p>
			{% endif %}

			{% if current_state == "alert" %}
			<p>The security system has been triggered! A photo has been sent to the authorities (the owner)!</p>
			{% endif %}

			
			{% if current_state == "disarmed" %}
			<form method="POST">
				<input type="text" id="usercode" name="user_input" autocomplete = "off" 
				 pattern="[0-9]*" minlength="4" maxlength="4">
				<input type="submit" value="arm">
			</form>
			{% endif %}
			{% if current_state == "armed" %}
			<form method="POST">
				<input type="text" id="usercode" name="user_input" autocomplete = "off" 
				 pattern="[0-9]*" minlength="4" maxlength="4">
				<input type="submit" value="disarm">
			</form>
			{% endif %}
			{% if user_input != "" %}
			<p>You entered: <b>{{ user_input }}</b></p>
			{% endif %}
		</div>
	</body>
</html>
